*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/buildSrc/build/
/buildSrc/build/classes/kotlin/main/
/data/settings/build/
/data/settings/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/data/system-features/build/
/data/system-features/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/di/build/
/domain/settings/build/
/domain/settings/build/classes/kotlin/main/
/domain/system-features/build/
/domain/system-features/build/classes/kotlin/main/
/presentation/design-system/colors/build/
/presentation/design-system/dimensions/build/
/presentation/design-system/icon-resources/build/
/presentation/design-system/shapes/build/
/presentation/design-system/text/build/
/presentation/design-system/themes/build/
/presentation/design-system/typography/build/
/presentation/feature/build/
/presentation/feature/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/presentation/paparazzi/build/
/presentation/paparazzi/build/classes/kotlin/main/
/presentation/utils/build/